{% extends 'mainlayout.html' %}

{% block titulo %} VACUNAS {% endblock %}

{% block contenido %}
<br>
<div>
    <a class="btn btn-success" href="{% url 'crearAnimal' %}">Agregar nueva Vacuna</a>
</div>
<table  class="table table-hover">
    <br>
    <tr align="center">
        <td>ID</td>
        <td>NOMBRE VACUNA</td>
        <td>FECHA DE APLICACIÓN</td>
        <td>OPCIONES</td>
    </tr>

    {% for vacuna in vacunas %}
    <tr align="center" class="strong" >
        <td>{{vacuna.id}}</td>
        <td>{{vacuna.nombre}}</td>
        <td>{{vacuna.fecha}}</td>
        <td align="center">
            <div>
                <a class="btn btn-primary" href="{% url 'editarAnimal' %}">Editar Animal</a>
                <a class="btn btn-danger">Eliminar Contacto</a>
            </div>
         </td>
    </tr>
    {% endfor %}

</table>

<br><br>

{% endblock %}