<div class="container" align="center">
      <div class="row">
        <div class="col"></div>

        <div class="col">
            <form class="form-control" action="/guardar" method="POST">
                {% csrf_token %}
            
                <div  class="mb-3">
                    <label for="" class="form-label"></label>
                    <input  type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="nombre">
                    <small id="helpId" class="form-text text-muted">Ingresa el Nombre</small>
                </div>
    
                <div class="mb-3">
                  <label for="" class="form-label"></label>
                  <input type="text" class="form-control" name="direccion" id="direccion" aria-describedby="helpId" placeholder="direccion">
                  <small id="helpId" class="form-text text-muted">Dirección</small>
                </div>
                
                <div class="mb-3">
                    <label for="" class="form-label"></label>
                    <input type="number" class="form-control" name="telefono" id="telefono" aria-describedby="helpId" placeholder="telefono">
                    <small id="helpId" class="form-text text-muted">Telefono</small>
                </div>
                
                <div class="mb-3">
                    <label for="" class="form-label"></label>
                    <input type="email" class="form-control" name="correo" id="correo" aria-describedby="helpId" placeholder="correo">
                    <small id="helpId" class="form-text text-muted">Correo electrónico</small>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label"></label>
                    <input type="file" class="form-control" name="imagen" id="imagen" aria-describedby="helpId" placeholder="imagen">
                    <small id="helpId" class="form-text text-muted">Foto</small>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        <div class="col"></div>


      </div>
  </div>